---
import Vs from "../components/Vs.astro";
import CaseStudy from "../components/CaseStudy.astro";
import Features from "../components/Features.astro";
import HeroSection from "../components/HeroSection.astro";
import Layout from "../layouts/Layout.astro";
import Testimonials from "../components/Testimonials.astro";
import FAQ from "../components/FAQ.astro";
import Logos from "../components/Logos.astro";
import Intro from "../components/Intro.astro";

import Blog from "../components/Blog.astro";
import TopBanner from "../components/TopBanner.astro";
// import Intro2 from '../components/intro2.astro';
import Vs2 from "../components/Vs2.astro";
import Vs3 from "../components/Vs3.astro";
import Features1 from "../components/Features1.astro";
import Features2 from "../components/Features2.astro";
import Features3 from "../components/Features3.astro";
import Features4 from "../components/Features4.astro";
// import Features5 from '../components/Features5.astro';
import Companeis from "../components/Companeis.astro";
import Roi from "../components/Roi.astro";
---

<Layout title="Auto B2B">
  <HeroSection />
  <div class="mt-24">
    <main class="space-y-28 mb-40">
      <Intro />
    <Roi/>
    <!-- <Features1 /> -->
    <!-- <Features2 /> -->
    <!-- <Features3 /> -->
    <!-- <Features4 /> -->
    <Logos />
    <Vs2 />

    <CaseStudy />
    <Testimonials />
    <Companeis />
    <FAQ />
  </main>
</div>
</Layout>

<style>
  /* Optional: Add animation for the button */
  @keyframes bounce {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }

  .fixed {
    animation: bounce 2s infinite;
  }
</style>
