---
import Layout from '../layouts/Layout.astro';
import CallToAction from '../components/CallToAction.astro';
import Blog from '../components/Blog.astro';
---

<Layout title="Auto B2B">
	<main class="space-y-40 mb-40">
        <div style="height: 20px;"></div>
        <Blog itemsPerPage={600}  />
		<CallToAction/>
	</main>
</Layout>