---
import Container from "./Container.astro"

const blogPosts = [
  {
    title: "Automatically Pause SL Campaigns For Holidays",
    image: "https://cdn.discordapp.com/attachments/1283467168976994304/1293257024980652156/image.png?ex=6706b6f6&is=67056576&hm=0f10ef05b706b3c5121cb1392c9709a0f9b4d775af7750f9d6e44119b2aee80e&",
    description: "When there is a holiday, you don't want to be sending emails. Use this template to automatically pause your campaigns.",
  },
  {
    title: "De fuga fugiat lorem ispum laboriosam expedita.",
    image: "https://images.unsplash.com/photo-1491895200222-0fc4a4c35e18?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80",
    description: "Voluptates harum aliquam totam, doloribus eum impedit atque! Temporibus...",
  },
  {
    title: "De fuga fugiat lorem ispum laboriosam expedita.",
    image: "https://images.unsplash.com/photo-1620121692029-d088224ddc74?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2832&q=80",
    description: "Voluptates harum aliquam totam, doloribus eum impedit atque! Temporibus...",
  },
];
---

<div id="blog">
  <Container>
    <div class="mb-12 space-y-2 text-center">
      <h2 class="text-3xl font-bold text-gray-800 md:text-4xl dark:text-white">Free Automation Templates</h2>
      <p class="lg:mx-auto lg:w-6/12 text-gray-600 dark:text-gray-300">
        Get started with our free automation templates. We have a wide range of templates for you to choose from.
      </p>
    </div>
    
    <div class="mb-8">
      <input
        type="text"
        id="searchInput"
        placeholder="Search templates..."
        class="w-full p-2 border border-gray-300 rounded-md dark:bg-gray-700 dark:border-gray-600 dark:text-white"
      />
    </div>
    
    <div id="blogPosts" class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
      {blogPosts.map((post) => (
        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <div class="relative overflow-hidden rounded-xl">
            <img src={post.image}
              alt="art cover" loading="lazy" width="1000" height="300" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"/>
          </div>
          <div class="mt-6 relative">
            <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
              {post.title}
            </h3>
            <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
              {post.description}
            </p>
            <a class="inline-block" href="#">
              <span class="text-info dark:text-blue-300">Download</span>
            </a>
          </div>
        </div>
      ))}
    </div>
  </Container>
</div>

<script>
  const searchInput = document.getElementById('searchInput') as HTMLInputElement | null;
  const blogPostsContainer = document.getElementById('blogPosts');
  
  if (searchInput && blogPostsContainer) {
    const blogPosts = Array.from(blogPostsContainer.children) as HTMLElement[];

    searchInput.addEventListener('input', function() {
      const searchTerm = this.value.toLowerCase();

      blogPosts.forEach(post => {
        const title = post.querySelector('h3')?.textContent?.toLowerCase() || '';
        if (title.includes(searchTerm)) {
          post.style.display = '';
        } else {
          post.style.display = 'none';
        }
      });
    });
  }
</script>