---
import AppFooter from "../components/AppFooter.astro";
import AppHeader from "../components/AppHeader.astro";
import TopBanner from "../components/TopBanner.astro";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<!-- <meta name="description" content="Template built with tailwindcss using Tailus blocks v2" /> -->
		<meta name="description" content="Streamline your operations with AI-driven automation." />
		<title>Establish Cred</title>

		<link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap" rel="stylesheet" />
		
		<!-- Google tag (gtag.js) -->
<script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-KNYBQJ45EV"></script>
<script type="text/partytown">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-KNYBQJ45EV');
</script>

<script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "paz3cwelk6");
</script>
	</head>
	<body class="bg-primary">
		<!-- <TopBanner/> -->
		<AppHeader />	
		<slot />
		<AppFooter />
	</body>
</html>

<style>
	html {
		font-family: Urbanist, sans-serif;
		scroll-behavior: smooth;
	}

	body {
		margin: 0;
	}

	

</style>